
nav {
  margin-top: 25px;
}

.product-box {
  padding: 16px !important;
  margin: 64px;
  display: flex;
}

.product-info {
  flex-direction: row;
  justify-content: space-between;
}

.product-info-mini > * {
  display: inline;
  margin: 6px;
}

.pmini > * {
  display: inline;
}

.pmini {
  min-width: 512px;
}

.product-info-mini {
  flex-direction: row;
  justify-content: space-between;
  min-width: 64px;
}

.description {
 color: #5F5F5F;
}

.product-box > * {
  margin: 16px;
}

.right {
  text-align: right;
  max-height: 48px;
  width: 55em;
}

.right > * {
  margin: 6px;
  display: inline;
}

.img-div {
  box-shadow: .5px .860px 1px 0 gray;
  min-width: 128px;
}

.img-div, .img-div img {
  max-width: 128px;
  max-height: 128px;
  background: white;
}

.img-div-mini {
  box-shadow: .5px .860px 1px 0 gray;
  min-width: 32px;
}

.img-div-mini, .img-div-mini img {
  max-width: 32px;
  max-height: 32px;
  background: white;
}

/*nav ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

nav li.topmenu {
  float: left;
}

nav a:hover, .topmenu.on a {
  color: gray;
  background-color: skyblue;
}

.topmenu a {
  font-family: Arial;
  font-size: small;
  float: left;
  width: 215px;
  text-align: center;
  border-right: 1px solid #a4a4a3;
}

.topmenu ul {
  display: none;
}

.topmenu a, .submenu a {
  padding: 15px 5px;
  border-collapse: collapse;
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color: ghostwhite;
  margin: 0;
}

.submenu a {
  font-size: 12px;
  width: 175px;
  position: relative;
  clear: both;
  border-right: 1px solid #a4a4a3;
}

.topmenu:hover ul {
  transition: .5s;
  display: block;
  z-index: 500;
}*/

.titel {
  font-size: 5em;
}
